:global(.mySwiper .swiper-button-next),
:global(.mySwiper .swiper-button-prev) {
  background-color: #34c94b;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  padding: 0.5%;
}

:global(.swiper-button-next),
:global(.swiper-button-prev) {
  pointer-events: all !important;
  z-index: 10;
}

:global(.swiper-button-next svg),
:global(.swiper-button-prev svg) {
  pointer-events: all !important;
}